.dls-content > div[role='tabpanel'] {
  height: calc(100vh - 11.2rem);
}

.group-button-footer {
  position: absolute;
  bottom: 0;
  padding: 1.6rem 2.4rem;
  width: 100%;
  border-top: thin solid #e3e3e8;
}

.custom-group-radio .custom-control.custom-radio {
  margin-top: 1.6rem;
  margin-right: 2.4rem;
  display: inline-block;
}

.custom-group-radio .custom-control.custom-radio:last-child {
  margin-right: 0;
}

.group-alert .group-alert-item {
  display: inline-block;
  margin-right: 0.8rem;
}

.group-alert .group-alert-item .alert {
  max-width: 38.4rem;
}

.group-alert .group-alert-item .text-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-icon {
  display: inline-block;
  width: 2rem;
  max-width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  background-color: transparent;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.vertical-tab.scrolled-nav .tab-left {
  background: var(--light-l16);
  width: 23.2rem;
  height: 100%;
  transition: width 0.5s ease;
}

.vertical-tab.scrolled-nav .tab-content > .active {
  overflow: hidden;
}

.vertical-tab .tab-left.is-collapsed {
  width: 0;
}

.vertical-tab .tab-left.is-collapsing .nav-item a {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.config-setting {
  border-top: thin solid var(--light-l12);
}

.config-setting .has-footer-button {
  height: calc(100% - 69px);
}

.config-setting .group-button-footer {
  bottom: -6.8rem;
}

.custom-editor .dls-editor .DraftEditor-root {
  width: 48.2rem;
}

.custom-editor .dls-editor .DraftEditor-root .public-DraftEditor-content {
  height: calc(100vh - 340px);
  min-height: 50rem;
}

.custom-editor .editor-example {
  width: 39.2rem;
  border: thin dashed var(--light-l12);
  border-radius: 0.8rem;
  padding: 1.6rem;
  margin-top: 3.4rem;
  margin-left: 2.4rem;
}

.custom-editor-payment {
  width: 55.6rem;
  max-width: 55.6rem;
}

.custom-editor-payment
  .dls-editor
  .DraftEditor-root
  .public-DraftEditor-content {
  height: 18rem;
}

/* editor readOnly properties */
.dls-editor-tools-container[aria-readonly='true'] {
  opacity: 50%;
  pointer-events: none;
  user-select: none;
}

.dls-editor
  .DraftEditor-root
  .public-DraftEditor-content[contenteditable='false'] {
  background-color: #eeeef1;
}

.arrow-red {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right: 0;
  border-left: 12px solid#fa766c;
}

.filter-button {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #f72d1d;
  border-radius: 100%;
  top: 1px;
  right: 2px;
}

/* if readonly dropdown has only 1 dropdown option, hide arrow icon */
.readonly-no-arrow i.icon-chevron-down {
  display: none !important;
}

.dls-popup.popup-header {
  z-index: 3000;
}

.pre-wrap {
  white-space: pre-wrap;
}

.tag-line {
  display: block;
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  background-color: #e1effe;
  color: #333333;
  margin-right: 0.4rem;
  font-size: 1.2rem;
  cursor: default;
}

.tag {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  background-color: #e1effe;
  color: #333333;
  font-size: 1.2rem;
  line-height: 1.6rem;
  height: 2rem;
}

.tag + .tag {
  margin-left: 0.4rem;
}

.tag.tag-purple {
  background-color: #f6e5fe;
  color: #7608a9;
}

.tag.tag-orange {
  background-color: #fff1cc;
  color: #996f00;
}

.tag.tag-red {
  background-color: #fee4e2;
  color: #bc1407;
}

.infobar-container .infobar-nav-container .infobar-nav-item.mt-auto {
  display: none;
}

.no-label .dls-dropdown-list .input {
  padding-top: 0.7rem;
}

#root {
  overflow: hidden;
}

.vertical-tab .tab-content .expand-collapse-navbar {
  top: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.dls-text-search .dls-text-search-icon .dls-text-search-clear {
  font-size: 1.6rem;
}

:focus-visible {
  outline: none;
}

::placeholder {
  color: var(--grey-l32);
}

.w-408px {
  width: 40.8rem;
}

.header-agency-request {
  display: flex;
  flex-direction: column;
}

.header-agency-request .header-search,
.header-agency-request .header-group-button {
  display: flex;
  justify-content: end;
  margin-top: 1.6rem;
}

.header-agency-request .header-message {
  margin-top: 1.6rem;
}

.header-account {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-account-search {
  display: flex;
  justify-content: end;
}

.tab-left.is-collapsed + .tab-content .header-agency-request {
  flex-direction: row;
  flex-wrap: wrap;
}

.tab-left.is-collapsed + .tab-content .header-agency-request .header-title {
  width: 40%;
}

.tab-left.is-collapsed + .tab-content .header-agency-request .header-search {
  width: 60%;
  order: 2;
  margin-top: 0;
}

.tab-left.is-collapsed + .tab-content .header-agency-request .header-message {
  width: 60%;
  order: 3;
}

.tab-left.is-collapsed
  + .tab-content
  .header-agency-request
  .header-group-button {
  width: 40%;
  order: 4;
}

.content-block {
  display: flex;
  position: relative;
  height: 100%;
}

.content-block .content-left {
  flex: 1;
  height: calc(100% - 69px);
}

.content-correspondence {
  height: calc(100vh - 176px);
}

.content-link-account .content-left,
.content-correspondence .content-left {
  height: 100%;
}

.content-block .content-right {
  position: relative;
  width: 40.8rem;
  right: 0;
  transition: right 500ms;
  border-left: thin solid #e3e3e8;
}

.content-link-account .content-right {
  width: 37.2rem;
}

.content-block.content-batch-list .content-right,
.content-block.content-correspondence .content-right {
  width: 45.5rem;
}

.group-id + .content-link-account {
  height: calc(100% - 69px);
}

.collapse-button {
  display: none;
  position: absolute;
  z-index: 2;
  top: 1.6rem;
  left: -3.2rem;
  padding: 0.7rem;
  border: thin solid #e3e3e8;
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: #8f8f8f;
  background-color: white;
}

.content-block .content-right.collapsed {
  position: absolute;
  right: -40.8rem;
  transition: right 500ms;
}

.content-link-account .content-right.collapsed {
  right: -37.2rem;
}

.content-block.content-batch-list .content-right.collapsed,
.content-block.content-correspondence .content-right.collapsed {
  right: -45.5rem;
}

.content-block .content-left .col-batch-item {
  width: 16.6%;
}

.content-block .content-left .col-batch-item:last-child {
  width: 33.3%;
}

.content-block.expand .content-left .col-batch-item {
  width: 33.3%;
}

.content-block.expand .content-left .col-batch-item:nth-child(n + 4) {
  margin-top: 1.6rem;
}

.row-batch {
  display: flex;
}

.content-block.expand .content-left .row-batch {
  flex-wrap: wrap;
}

.btn.btn-primary.active {
  background-color: #0b70df;
}

.btn.btn-secondary.active {
  background-color: #e3e3e8;
}

.btn.btn-danger:active {
  background-color: #e31808;
}

.btn.btn-outline-primary.active,
.btn.btn-icon-primary.active {
  background-color: #ddecfd;
}

.btn.btn-outline-secondary.active,
.btn.btn-icon-secondary.active {
  background-color: #e3e3e8;
}

.btn.btn-outline-danger.active,
.btn.btn-icon-danger.active {
  background-color: #fdbfbb;
}

.h-120px {
  height: 12rem;
}

.dls-attribute-search-popup .no-data {
  font-size: 1.2rem;
}

.assignment-detail {
  display: flex;
  align-items: center;
}

.assignment-detail .detail-left,
.assignment-detail .detail-right {
  width: calc(50% - 36px);
}

.assignment-detail .detail-center {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.form-group-static__sensitive {
  display: flex;
  align-items: center;
}
.form-group-static__sensitive .icon {
  color: #8f8f8f;
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: 0.8rem;
}
.form-group-static__sensitive .icon:hover {
  color: #1f84f4;
}

.block-no-data {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.dls-modal-root .block-no-data {
  margin-bottom: 4.8rem;
}

.modal-debtor {
  max-width: 604px !important;
}

.position-absolute-top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.pre-line {
  white-space: pre-line;
}

.jump-links {
  width: 100%;
  height: 100%;
}

.jump-links-panel .jump-links-toggle-btn {
  display: block;
  width: 32px;
  height: 32px;
  padding: 6px;

  position: absolute;
  top: 2.3rem;
  right: -1px;
  z-index: 999;

  cursor: pointer;
  border: 1px solid #e3e3e8;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 4px 8px 0 rgba(55, 58, 72, 0.16);
  background-color: #ffffff;
}

.jump-links .jump-link {
  display: block;
  cursor: pointer;
  pointer-events: all;
  text-decoration: none;
  color: #8f8f8f;
}

.jump-links .jump-link:hover,
.jump-links-panel .jump-links-toggle-btn:hover i:before {
  color: #1f84f4;
}

.jump-links .jump-link.active {
  color: #0b70df;
  font-weight: 500;
}

.jump-links .jump-link + .jump-link {
  margin-top: 1.6rem;
}

.jump-links-panel {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 6rem;
  right: 0;
  z-index: 999;
}

.statement-jump-content {
  width: 24rem;
  height: auto;
  margin-top: 2.3rem;
  padding: 1.6rem;

  /* statement-jump-content--fixed */
  position: fixed;
  top: 6rem;
  right: 3.8rem;
  /* Fix position fixed div over scroll-able div */
  pointer-events: none;

  border-radius: 8px;
  border: 1px solid #e3e3e8;
  background-color: #ffffff;
}

.overview-horizontal-tabs .vertical-tab .nav {
  width: 16.3rem;
}

.overview-horizontal-tabs .vertical-tab .nav.is-collapsed {
  width: 0;
}

.position-absolute-top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.dls-dropdown-base-container .dls-dropdown-base-scroll-container .item-header {
  display: block;
  text-transform: uppercase;
  padding: 0.8rem 0.8rem 0.2rem 0.8rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--grey);
}

.card.disabled {
  color: #666666;
  pointer-events: none;
  cursor: default;
  background-color: #eeeef1;
}

.account-list__checkbox input {
  z-index: 1;
}

.w-471px {
  width: 47.1rem;
}

.pb-69 {
  padding-bottom: 6.9rem;
}

.pb-72 {
  padding-bottom: 7.2rem;
}

.mt-n45 {
  margin-top: -4.5rem;
}

.mt-n48 {
  margin-top: -4.8rem;
}

.btn.btn-icon-text {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--light-l16);
  color: var(--grey-l08);
  border-radius: 1.2rem;
  height: 2.4rem;
  min-width: auto;
  padding: 0 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.btn.btn-icon-text .icon {
  font-size: 1.6rem;
}

.btn.btn-icon-text.btn-sm {
  height: 2rem;
  font-size: 1.2rem;
}

.btn.btn-icon-text.btn-sm .icon {
  font-size: 1.2rem;
}

.btn.btn-icon-text:hover {
  background-color: #ebf4fe;
  color: var(--blue-d12);
}

.btn.btn-icon-text:focus {
  box-shadow: none;
}

.link-primary {
  color: #7a7a7a;
  cursor: pointer;
}

.link-primary:hover {
  color: #1f84f4;
}

.dls-modal-root .dls-modal-header .btn {
  margin-right: -0.4rem;
}

.dropdown-primary.no-border .input,
.dropdown-primary.no-border .icon {
  color: #1f84f4;
}

.dropdown-primary.no-border:hover,
.dropdown-primary.no-border.dls-focused {
  background-color: #e1effe;
}

.bubble.bb-sz-sm {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
}

.item-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.4rem;
  background-color: #eeeef1;
  color: #666;
}

.card.card-blue.active .item-index {
  background-color: #1f84f4;
  color: #fff;
}

.card.card-error:hover {
  border-color: #f72d1d;
}

.item-payments.card.card-error {
  border-color: #f72d1d;
}

.card.card-error:hover .item-index {
  color: #f72d1d;
  background-color: #fededc;
}

.card .card-group-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.6rem;
}

.card .card-group-checkbox + .card-group-checkbox {
  border-top: thin solid #e3e3e8;
}

.card-group-checkbox .dls-checkbox {
  padding-left: 2rem;
}

.card-group-checkbox .dls-checkbox .dls-checkbox-label::before {
  width: 2rem;
  height: 2rem;
  left: -2rem;
}

.card-group-checkbox .dls-checkbox .dls-checkbox-label::after {
  top: 0.4rem;
  left: -1.8rem;
}

.body-add-batch {
  height: calc(100vh - 334px);
}

.dls-date-picker.dls-readonly .dls-floating-label span:first-child {
  overflow: unset;
}

.radio-vertical .custom-radio + .custom-radio {
  margin-top: 0.8rem;
}

.radio-horizontal .custom-radio {
  display: inline-block;
}

.radio-horizontal .custom-radio + .custom-radio {
  margin-left: 2.4rem;
}

.card.card-dashboard {
  padding: 2.4rem;
  border-radius: 0.8rem;
}

.circle-legend--color1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fcb665;
}

.circle-legend--color2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #77d97c;
}

.dls-chart .doughnut-chart-legend {
  padding-right: 0;
}

.dls-chart .doughnut-chart-legend-item {
  text-align: left;
}

.dls-chart .doughnut-chart-legend-item .item-value {
  margin-left: 2rem;
}

.dls-chart .doughnut-chart-legend-item .item-label {
  display: flex;
  align-items: center;
  color: #666;
}

.dls-chart .doughnut-chart-legend-item .item-point {
  margin-left: 0;
  margin-right: 0.8rem;
  width: 1.2rem;
  height: 1.2rem;
}

.infobar-container.collapsed .overlap-next-action,
.infobar-container .inforbar-content-pinned .overlap-next-action {
  margin-bottom: 6.4rem;
}

.info-bar-main .overlap-next-action {
  padding-bottom: 6.4rem;
}

.infobar-pinned .info-bar-main .overlap-next-action {
  padding-bottom: 2.4rem;
}

.dls-floating-dropdown-button.active,
.dls-floating-dropdown-button:focus {
  background-color: #fff;
  border: 1px solid #1f84f4;
  outline: 1px solid #1f84f4;
}
.dls-floating-dropdown-button.active .dls-dropdown-list.dls-focused,
.dls-floating-dropdown-button:focus .dls-dropdown-list.dls-focused {
  border: none;
  box-shadow: none;
}

.chart-bar .content-chart-bar {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.chart-bar .content-chart-bar .chart-bar-value {
  width: 21rem;
}

.doughnut-chart-text-label {
  text-transform: capitalize !important;
  font-weight: 400 !important;
}

.ds-attr-search-field
  .field-detail
  .combobox-control
  .dls-combobox
  .text-field-container
  input {
  color: #1f84f4;
}
.ds-attr-search-field
  .field-detail
  .combobox-control
  .dls-combobox
  .text-field-container
  input:focus {
  color: #333333;
}

@media (min-width: 1025px) {
  .jump-links-panel {
    width: auto;
    height: auto;
    position: sticky;
    top: 0;
  }

  .jump-links-panel .jump-links-toggle-btn {
    position: fixed;
    top: 8.3rem;
  }

  .statement-jump-content {
    width: 23.6rem;
    margin-top: 0;
    padding: 2.4rem;

    /* statement-jump-content--sticky */
    position: sticky;
    top: 0;
    right: 0;
    left: 2.4rem;

    border: 0;
    border-radius: 0px;
  }
}

@media (min-width: 1025px) {
  .jump-links-toggle-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .flex-md-1 {
    flex: 1;
  }
  .modal-md-hidden {
    display: none;
  }

  .w-md-0 {
    display: none;
  }

  .border-md-top {
    border-top: thin solid #e3e3e8;
  }

  .border-md-none {
    border: none;
  }

  .dls-modal-root .find-account .item-account-number {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .dls-modal-root .find-account .item-account-last4ss {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .dls-modal-root .find-account .item-account-original {
    flex: 0 0 35%;
    max-width: 35%;
    margin-top: 0 !important;
  }

  .dls-modal-root .find-account .item-account-status {
    flex: 0 0 20%;
    max-width: 20%;
    margin-top: 0 !important;
  }
}

@media (max-width: 768px) {
  .custom-editor .editor-example,
  .custom-editor .dls-editor .DraftEditor-root,
  .custom-editor-payment,
  .vertical-tab .tab-content .dls-attribute-search.small,
  .w-md-100 .dls-text-search {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .content-block.content-batch-list.expand .dropdown-batch {
    display: block;
  }
  .chart-bar .content-chart-bar {
    flex-direction: row-reverse;
  }

  .chart-bar .content-chart-bar .chart-bar-value {
    margin-right: 6rem;
  }
  .modal-lg-hidden {
    display: none;
  }

  .w-md-0 {
    display: block;
  }

  .w-lg-0 {
    display: none;
  }

  .border-lg-right {
    border-right: thin solid #e3e3e8;
  }

  .border-lg-none {
    border: none;
  }

  .header-agency-request {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header-agency-request .header-title {
    width: 40%;
  }

  .header-agency-request .header-search {
    width: 60%;
    order: 2;
    margin-top: 0;
  }

  .header-agency-request .header-message {
    width: 60%;
    order: 3;
  }
  .header-agency-request .header-group-button {
    width: 40%;
    order: 4;
  }

  .h-lg-140px {
    height: 14rem;
  }
}

@media (min-width: 1280px) {
  .dropdown-batch {
    display: flex;
  }

  .button-sort-order {
    display: none;
  }

  .dropdown-sort-order {
    display: flex;
  }

  .content-block.content-batch-list.expand .button-sort-order {
    display: block;
  }

  .content-block.content-batch-list.expand .dropdown-sort-order {
    display: none;
  }

  .content-block.content-batch-list.expand .dropdown-batch {
    display: flex;
  }
  .chart-bar {
    display: block;
  }

  .chart-bar .content-chart-bar {
    flex-direction: row;
  }

  .chart-bar .content-chart-bar .chart-bar-value {
    margin-right: 0;
  }

  .flex-xl-unset {
    flex: unset;
  }
  .dash-board-content {
    max-width: 123.2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .border-xl-right {
    border-right: thin solid #e3e3e8;
  }

  .border-xl-none {
    border: none;
  }

  .offset-xl-40 {
    margin-left: 40%;
  }
}

@media (min-width: 1688px) {
  .memos-extend .col-extend-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .memos-extend .extend-d-xxl-none {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .chart-bar .content-chart-bar {
    flex-direction: column;
    justify-content: end;
    align-items: start;
  }

  .chart-bar .content-chart-bar .chart-bar-value {
    margin-top: 2.4rem;
  }
  .body-add-batch .group-find-account {
    flex-direction: column;
    align-items: start !important;
  }

  .body-add-batch .group-find-account .w-320px {
    width: 30.6rem;
  }

  .body-add-batch .group-find-account .w-320px + .btn {
    margin-right: 0 !important;
  }

  .body-add-batch .group-find-account .d-flex:first-child {
    margin-bottom: 0.8rem;
  }

  .content-correspondence {
    height: calc(100vh - 107px);
  }

  .content-correspondence .content-left {
    height: calc(100% - 69px);
  }

  .tab-left:not(.is-collapsed)
    + .tab-content
    .row-correspondence
    [class*='col-'] {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 0.4rem;
  }

  .content-block .content-left .col-batch-item {
    width: 33.3%;
  }

  .content-block .content-left .col-batch-item:nth-child(n + 4) {
    margin-top: 1.6rem;
  }

  .content-block .content-left .row-batch {
    flex-wrap: wrap;
  }

  .header-account {
    display: block;
  }

  .header-account .header-account-title {
    margin-bottom: 1.6rem;
  }

  .dls-modal-root .find-account .header-account {
    display: flex;
  }

  .dls-modal-root .find-account .header-account .header-account-title {
    margin-bottom: 0;
  }

  .button-md-view {
    position: absolute;
    top: 1.2rem;
    right: 0.4rem;
  }

  .tab-left:not(.is-collapsed) + .tab-content .item-account-number,
  .tab-left:not(.is-collapsed) + .tab-content .item-account-last4ss,
  .tab-left:not(.is-collapsed) + .tab-content .item-account-original,
  .tab-left:not(.is-collapsed) + .tab-content .item-account-status,
  .account-list-from-group .item-account-number,
  .account-list-from-group .item-account-last4ss,
  .account-list-from-group .item-account-original,
  .account-list-from-group .item-account-status {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .tab-left:not(.is-collapsed) + .tab-content .item-account-original,
  .tab-left:not(.is-collapsed) + .tab-content .item-account-status,
  .account-list-from-group .item-account-original,
  .account-list-from-group .item-account-status {
    margin-top: 1.6rem;
  }

  .break-line {
    display: none;
  }

  .content-block .content-right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .content-link-account .content-right,
  .content-correspondence .content-right {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(55, 58, 72, 0.16);
    border-left: none;
  }

  .content-link-account .content-left {
    height: calc(100% - 69px);
  }

  .content-link-account .header-account {
    display: flex;
  }

  .content-link-account .header-account .header-account-title {
    margin-bottom: 0;
  }

  .content-link-account .header-account .header-account-search {
    margin-top: 0;
  }

  .content-link-account
    .header-account
    .header-account-search
    .dls-attribute-search.small {
    width: 50rem;
  }

  .body-add-batch {
    height: calc(100vh - 430px);
  }
}

@media (max-width: 1024px) {
  .infobar-nav-item:hover {
    background: transparent;
    color: #fff;
  }
  .infobar-nav-item.active {
    background: #fff;
  }
  .infobar-nav-item.active:hover {
    background: #fff;
    color: #ff6600;
  }

  .memos-extend .dls-text-search {
    width: 100%;
  }

  .collapse-button {
    display: block;
  }

  .dls-modal-root .dls-modal-dialog.window-lg .modal-content .dls-modal-body {
    padding-bottom: 2.4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .vertical-tab .tab-left.is-collapsed + .tab-content .call-address {
    display: flex;
  }

  .vertical-tab .tab-left.is-collapsed + .tab-content .call-phone {
    margin-top: 0 !important;
    margin-left: 2.4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .dropdown-sort-order {
    display: none;
  }
  .custom-editor .editor-example {
    margin: 0 0 1.6rem 0;
  }
  .chart-bar {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1080px) {
  .content-link-account .header-account {
    display: block;
  }

  .content-link-account .header-account .header-account-search {
    margin-top: 1.6rem;
  }

  .content-link-account
    .header-account
    .header-account-search
    .dls-attribute-search.small {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1736px) {
  .infobar-pinned .general-info .col-xl-6:first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .infobar-pinned .general-info .col-xl-6,
  .infobar-pinned .general-info .col-xl-3,
  .infobar-pinned .agency-info .col-xl-3,
  .infobar-pinned .payment-info .col-xl-3,
  .infobar-pinned .miscellaneous-info .col-xl-3 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .infobar-pinned .financial-info .w-xl-25 {
    width: 40% !important;
    max-width: 40% !important;
  }
  .infobar-pinned .financial-info .w-xl-20 {
    width: 35% !important;
    max-width: 35% !important;
  }
  .infobar-pinned .financial-info .w-xl-15 {
    width: 25% !important;
    max-width: 25% !important;
  }

  .infobar-pinned .financial-info .w-xl-60 {
    width: 100% !important;
    max-width: 100% !important;
  }

  .infobar-pinned .financial-info .offset-xl-40 {
    margin-left: 0;
  }

  .infobar-pinned .card-associated-debtors .col-lg-5 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .infobar-pinned .card-associated-debtors .col-lg-2.col-md-9 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (hover: hover) {
  .collapse-button:hover i {
    color: #1f84f4;
  }
}
