.floating-sidebar .floating-sidebar-tab {
	position: relative;
	width: 32px;
}
.floating-sidebar-tab [class*='-button'] {
	width: 100%;
	padding: 7px;
	text-align: center;
	border-bottom: 1px solid #e3e3e8;
}
.ds-floating-sidebar-hammer {
	height: calc(100vh - 31px);
	overflow: hidden;
}
.floating-sidebar-tab .list-scroll {
	height: 100%;
}
.floating-sidebar-tab .list-scroll.overflow {
	padding: 32px 0;
}
.floating-sidebar-tab .previous-button {
	position: absolute;
	top: 31px;
	left: 0;
	padding: 7px;
	text-align: center;
	border-bottom: 1px solid #e3e3e8;
	background-color: #f9f9fa;
	z-index: 1;
}
.floating-sidebar-tab .next-button {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 7px;
	text-align: center;
	border-top: 1px solid #e3e3e8;
	background-color: #f9f9fa;
}
.floating-sidebar-tab .previous-button.disabled,
.floating-sidebar-tab .next-button.disabled {
	color: #cccccc;
}

.floating-sidebar .floating-sidebar-tab .tab-item {
	position: relative;
}

.floating-sidebar .floating-sidebar-tab .tab-item:first-child {
	margin-top: 0;
}

.floating-sidebar .floating-sidebar-tab .tab-item:before {
	content: "";
	width: 80%;
	height: 1px;
	background-color: #e3e3e8;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.floating-sidebar .floating-sidebar-tab .tab-item.actived:before {
	display: none;
}

.floating-sidebar .floating-sidebar-tab .tab-item.actived [class*='icon-'] {
	color: #fff;
}

.floating-sidebar-tab [class*='icon-'] {
	color: #8f8f8f;
}
